DB_ROOT_PASSWORD=naujasSlaptazodis123
DB_NAME=siuntu_valdymo_posistemis
DB_USER=root
DB_PASSWORD=naujasSlaptazodis123

JWT_KEY=change_this_to_a_random_secret_at_least_32_characters_long
JWT_ISSUER=Bakalauras.API
JWT_AUDIENCE=Bakalauras.Client

# Use true with HTTPS. If you publish only over http://IP_ADDRESS, set false.
JWT_COOKIE_SECURE=false

# Must be exactly 32 bytes/chars if your encryption service expects a 256-bit key.
ENCRYPTION_KEY=change-this-32-char-secret-key!!

GOOGLE_CLIENT_ID=183235854782-ja8nlb816mcrhc6p3c70ka1o6tqnfagj.apps.googleusercontent.com
REACT_APP_BUTENT_API_URL=

RESEND_API_KEY=re_R47Zxg4L_4V6ZwGBk5RTdmhGv5zRkA93Y
EMAIL_FROM_NAME=TrackSync
EMAIL_FROM_ADDRESS=onboarding@resend.dev

# Example: http://123.123.123.123 or https://your-domain.com
PUBLIC_BASE_URL=http://46.101.161.47
