.auth-buttons {
    display: flex;
    gap: var(--space-xs);
}

.signin-button-login {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--radius-lg);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: var(--transition-normal);

}

.signin-button-login:hover {
    background-color: var(--color-primary-hover);
    box-shadow: var(--shadow-md);
}

.signup-button-register {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    border: none;
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--radius-lg);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: var(--transition-normal);
    border: 1px solid var(--color-border);
}

.signup-button-register:hover {
    box-shadow: var(--shadow-md);
    border: 1px solid var(--color-primary);
}

.logout-button {
    background-color: var(--color-danger);
    color: var(--color-bg);
    border: none;
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--radius-lg);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: var(--transition-normal);

}

.logout-button:hover {
    background-color: #d13434;
    box-shadow: var(--shadow-md);
}