.layout-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "footer footer";
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr auto;
  transition: grid-template-columns var(--transition-normal);
}

.layout-container.is-collapsed {
  grid-template-columns: 76px 1fr;
}

.layout-header { grid-area: header; }
.layout-menu { grid-area: menu; height: 100%; }
.layout-content { grid-area: content; }
.layout-footer { grid-area: footer; }
